{% extends "base.html" %}

{% block title %}Site Login{% endblock title %}

<!--{% block sidenav %} -->
<!--    <li><a href="/">Home</a></li>-->
<!--{% endblock sidenav %}-->

{% block content %}

<div class="container">

<h4>Please Login</h4>
<p>You must be logged in to complete a quote</p>

{% if form.errors %}
    <p>The username or password that you entered is not correct</p>
{% endif %}

    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>

</div>

<br>

<a href="/passwordreset">Password Reset</a>

{% endblock content %}