{% extends "base.html" %}

{% block content %}

<!-- <h4>Thanks your payment has been processed.</h4>

<h3>You now have full access to create quotes.</h3> -->

<script>
    all_good("Many Thanks", "Your payment has been processed. This provides access to create your own quotes.", "home/")
</script>

{% ifequal user.groups.all.0.name "Subscribed" %}
{% if not request.session.Profile_updated or not request.session.Image_loaded or not request.session.ProductPrice_record or not request.session.created_quote_template %}
    <p><a href="/quotenotpossible">Create Quote</a></p>
{% else %}
    <p><a href="/boilerform">Create Quote</a></p>
{% endif %}    
{% else %}
<p><a href="/stripecheckout">Create Quote (requires subscription)</a></p>
{% endifequal %}

{% endblock %}


