{% extends "base.html" %}

    {% block content %}
    
       <h4>Edit Your Details</h4>
       
       <form method="POST" name="ProfileForm">
           
           {% csrf_token %}
           
           {{ form.as_p }}
           
           <input type="hidden" name="alert" value="{{alert}}" readonly>
           
           <button class="btn btn-primary" type="submit">Save</button>
           <!--<button class="btn btn-secondary">Cancel</button>-->
           <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
           

       </form>


        <script>
            profile_form_validation_response()
        </script>


    {% endblock content %} 