{% extends "base.html" %}

    {% block content %}
    
       <h4>Edit the page layout HTML for your quote template</h4>

       <a href="{% url 'quotepad_template_help' %}" target="_blank">Quotepad Template Design Helpsheet (opens in a new window/tab)</a>
       
       <form method="POST" name="EditQuoteTemplateForm">
           
           {% csrf_token %}
           
           {{ form.as_p }}

           <input type="hidden" name="alert" value="{{alert}}" readonly>
           
           <button class="btn btn-primary" type="submit">Save</button>
           <!--<button class="btn btn-secondary">Cancel</button>-->
           <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
           

       </form>

        <script>
            edit_template_form_validation_response()
        </script>

    {% endblock content %} 