{% extends "base.html" %}

{% block content %}

<h4>Uploaded Images</h4>

{% for frecord in frecords %}

    <hr>
    <img src="{{frecord.document.url}}"  height="50" style="border:1px solid grey" >
    <p>Image Description: {{frecord.description}}</p>
    <p>Image Url: {{frecord.document}}</p>
    <p>Uploaded on: {{frecord.uploaded_at}}</p>
    <p>Page Layout Identifier: <b>{% templatetag openvariable %}frecords.{{forloop.revcounter0}}.document.url{% templatetag closevariable %}</b></p>

    {% empty %}
    <p>You have no images saved on the website.</p>

{% endfor %}

{% if frecords|length == 2 %}
<script>
    Swal.fire("Great news", "You now have the minimum number of images to create a quote.", "success")
</script>
{% endif %}
 
{% endblock %}