<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Quote PDF</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .section_header {
                font-size: 18px;
                font-weight: 100;    
            }
            .section_italics {
                font-size: 14px;
                font-style: italic;    
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }

            .logo {
                height:100px;
                width:auto;
            }

            .footer {
            border: 2px solid #73AD21;
            border-radius: 5px;
            background-color: green;
            color: white;
            font-size: 14px;
            font-weight: 100;
            text-align: center;
            padding: 10px 0px 2px 0px;
            }


        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
            </div>
            <!-- Header Images -->
            <table>
                <tr>
                    <td><img src="{{frecords.0.document.url}}" height="150px"></td><td align="right"><img src="{{frecords.2.document.url}}" height="100px"></td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td width="70%">
                        <b><u>Summary</u></b><br>
                        <b>Quotation Date: </b>{% now "jS F Y " %}<br>
                        <b>Your reference: </b>{{ idx.quote_prefix }}-{{ idx.cur_quote_no }}<br>
                        <b>Your boiler: </b>{{product_record.brand}}&nbsp;{{product_record.model_name}}&nbsp;&nbsp;<b>Price: </b>&#163;{{product_record.price}}<br>
                        <b>Warranty: </b>10 Years<br>
                        <b>Estimated Work Duration: </b>{{form_data.8.estimated_duration}} @ &#163;{{ idx.daily_work_rate }}/day.  <b>Total:</b> &#163;{{ workload_cost }}<br>
                        <b>Total Price: </b>&#163;{{ total_quote_price }}
                        <br><br>
                        <b><u>Fixed Price Promise</u></b><br>
                        Our quotations are produced at a fixed price. If the works we've quoted below take longer to
                        complete than we anticipated, you will not be charged additionally.<br>
                        If you want to discuss your quotation with one of the team, please give us a call on
                        	{{ idx.telephone }}, alternatively email info@demo.plumbers
                    </td>
                    <td width="30%">
                        <img src="{{img_record.document.url}}" height="250px" />

                    </td>
                </tr>
            </table>
            <p align="right"><sub>Estimate completed by: {{idx.first_name}} {{idx.last_name}} from {{idx.company_name}}</sub></p>

            <hr class='hrItem' />
            <div class='section_header'>
                <b>CUSTOMER DETAILS</b>
            </div>
            <div class='section_italics'>
                Your personal information - we'll keep this secure.
            </div>
            <table>
                <tr>
                    <td width="33%">
                    <b>NAME</b><br>
                    {{form_data.0.customer_first_name }} {{form_data.0.customer_last_name }}
                    </td>
                    <td width="33%">
                    <b>HOME PHONE</b><br>
                    {{ form_data.0.customer_home_phone }}
                    </td>
                    <td width="33%">
                    <b>MOBILE PHONE</b><br>
                    {{form_data.0.customer_mobile_phone }}
                    </td>
                </tr>
                <tr>
                    <td>
                    <b>EMAIL</b><br>
                    {{form_data.0.customer_email }}
                    </td>
                    <td>
                        <b>OWNER OR TENANT?</b><br>
                        {{form_data.0.owner_or_tenant }}
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
            <hr class='hrItem' />
            <div class='section_header'>
                <b>PROPERTY DETAILS</b>
            </div>
            <table>
                    <tr>
                        <td width="33%">
                        <b>INSTALLATION ADDRESS</b><br>
                        {{form_data.1.installation_address }} {{form_data.1.street_address }}<br>
                        {{form_data.1.city }} {{form_data.1.county }} {{form_data.1.postcode }}
                        </td>
                        <td style="width: 33%; vertical-align: top;">
                        <b>PROPERTY TYPE</b><br>
                        {{form_data.1.property_type }}
                        </td>
                        <td width="33%">
                        </td>
                    </tr>
                </table>
                <hr class='hrItem' />
                <div class='section_header'>
                    <b>CURRENT SYSTEM CONFIGURATION</b>
                </div>
                <div class='section_italics'>
                    Details on your current setup
                </div>
                <table>
                        <tr>
                            <td width="33%">
                            <b>CURRENT FUEL TYPE</b><br>
                            {{form_data.2.current_fuel_type }}<br>
                            </td>
                            <td width="33%">
                            <b>CURRENT BOILER TYPE</b><br>
                            {{form_data.2.current_boiler_type }}
                            </td>
                            <td width="33%">
                            <b>CURRENT BOILER LOCATION</b><br>
                            {{form_data.2.current_boiler_location }}
                            </td>
                        </tr>
                        <tr>
                            <td width="33%">
                            <b>CURRENT FLUE</b><br>
                            {{form_data.2.current_flue_system }}<br>
                            </td>
                            <td width="33%">
                            <b>CURRENT FLUE LOCATION</b><br>
                            {{form_data.2.current_flue_location }}
                            </td>
                            <td width="33%">
                            <b>CURRENT CONTROL SYSTEM</b><br>
                            {{form_data.2.current_controls }}
                            </td>
                        </tr>
                </table>
                <hr class='hrItem' />

            <br><br><br><br>  
            <div class='footer'>
            t: 	{{ idx.telephone }} &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; w: www.demo.plumbing &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; e: {{ idx.email }}
            </div>

          <hr class='hrItem' />
          <div class='section_header'>
              <b>DECOMMISSION AND REMOVAL</b>
          </div>
          <div class='section_italics'>
          We include the decommission and removal of all redundant materials wherever it is safe to do so. We consider customer safety our
                highest priority. If the tanks in your loft are suspected to be comprised of Asbestos Containing Materials and require cutting to
                pieces to remove, then the company reserves the right to leave the tanks in their current location.
          </div>

          <hr class='hrItem' />
          <div class='section_header'>
              <b>REMOVALS</b>
          </div>
          <table>
                <tr>
                    <td width="100%">
                    {% for removal_item in form_data.3.removals %}
                    &bull; {{ removal_item }}  
                    {% endfor %}
                    </td>
                </tr>
          </table>
        
          <hr class='hrItem' />
          <div class='section_header'>
              <b>NEW SYSTEM CONFIGURATION</b>
          </div>
          <div class='section_italics'>
                Key information about your new system layout. 
          </div>

          <table>
                <tr>
                    <td width="33%">
                    <b>NEW FUEL TYPE</b><br>
                    {{ form_data.4.new_fuel_type }}
                    </td>
                    <td width="33%">
                    <b>NEW BOILER TYPE</b><br>
                    {{ form_data.4.new_boiler_type }}
                    </td>
                    <td width="33%">
                    <b>NEW BOILER LOCATION</b><br>
                    {{ form_data.4.new_boiler_location }}
                    </td>
                </tr>
                <tr>
                    <td>
                    <b>NEW FLUE</b><br>
                    {{ form_data.4.new_flue_system }}
                    </td>
                    <td>
                        <b>NEW FLUE LOCATION</b><br>
                        {{ form_data.4.new_flue_system }}
                    </td>
                    <td>
                        <b>NEW FLUE DIAMETER</b><br>
                        {{ form_data.4.new_flue_system }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>PLUME KIT</b><br>
                        {{ form_data.4.plume_management_kit }}
                        </td>
                        <td>
                            <b>CONDENSATE TERMINATION</b><br>
                            {{ form_data.4.condensate_termination }}
                        </td>
                        <td>
                            <b>NEW CONTROLS</b><br>
                            {{ form_data.4.new_controls }}
                        </td>
                    </tr>
                    <tr>
                            <td>
                                <b>CWS FLOW RATE</b><br>
                                {{ form_data.4.cws_flow_rate }}
                                </td>
                                <td>
                                    <b>NEW FLUE METERS</b><br>
                                    {{ form_data.4.new_flue_metres }}
                                </td>
                                <td>
                                    
                                </td>
                    </tr>                    
            </table>

            <hr class='hrItem' />
            <div class='section_header'>
                <b>INSTALLATION REQUIREMENTS</b>
            </div>

            <table>
                    <tr>
                        <td>
                        <b>SYSTEM TREATMENT</b><br>
                        {{ form_data.5.system_treatment }}
                        </td>    
                    </tr>
                    <tr>
                            <td>
                            <b>GAS SUPPLY</b><br>
                            {{ form_data.5.gas_supply }}
                            </td>    
                        </tr>
                        <tr>
                                <td>
                                <b>GAS SUPPLY LENGTH</b><br>
                                {{ form_data.5.gas_supply_length }}
                                </td>    
                        </tr>
                            <tr>
                                    <td>
                                    <b>ASBESTOS CONTAINING MATERIALS REQUIRED</b><br>
                                    {{ form_data.5.asbestos_containing_materials_identified }}
                                    </td>    
                                </tr>
                                <tr>
                                        <td>
                                        <b>ELECTRICAL WORK REQUIRED</b><br>
                                        {{ form_data.5.electrical_work_required }}
                                        </td>    
                                    </tr>                                

                </table>            
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
                <div class='footer'>
                    t: 	{{ idx.telephone }} &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; w: www.demo.plumbing &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; e: {{ idx.email }}
                </div>
                
        <div class='section_header'>
            <b>NEW INSTALLATION DETAILS</b>
        </div>     
        
        <table>
                <tr>
                    <td>
                    <b>BOILER MANUFACTURER</b><br>
                    {{ form_data.6.boiler_manufacturer }}
                    </td>    
                </tr>
                <tr>
                        <td>
                        <b>MANUFACTURER GUARANTEE</b><br>
                        {{ form_data.6.manufacturer_guarantee }}
                        </td>    
                    </tr>
                    <tr>
                            <td>
                            <b>FLUE COMPONENTS</b><br>
                            {{ form_data.6.flue_components }}
                            </td>    
                    </tr>
                        <tr>
                                <td>
                                <b>PROGRAMMER THERMOSTAT</b><br>
                                {{ form_data.6.programmer_thermostat }}
                                </td>    
                            </tr>
                            <tr>
                                    <td>
                                    <b>CENTRAL HEATING SYSTEM FILTER</b><br>
                                    {{ form_data.6.central_heating_system_filter }}
                                    </td>    
                                </tr>                                
                                <tr>
                                        <td>
                                        <b>SCALE REDUCER</b><br>
                                        {{ form_data.6.scale_reducer }}
                                        </td>    
                                    </tr>
            </table>  
            <hr class='hrItem' />
            <div class='section_header'>
                <b>RADIATOR REQUIREMENTS</b>
            </div>            
            <table>
                    <tr>
                        <td  colspan="3">
                        <b>RADIATOR REQUIREMENTS</b><br>
                        {{ form_data.7.radiator_requirements }}
                        </td>    
                    </tr>
                    <tr>
                        <td width="33%">
                        <b>VALVE SIZE</b><br>
                        {{ form_data.7.thermostatic_radiator_valves_size }}
                        </td>
                        <td width="33%">
                        <b>VALVE TYPE</b><br>
                        {{ form_data.7.thermostatic_radiator_valves_type }}    
                        </td>
                        <td width="34%">
                        <b>VALUE QUANTITY</b><br>
                        {{ form_data.7.thermostatic_radiator_valves_quantity }}  
                        </td>
                    </tr>
            </table>
            <hr class='hrItem' />
            <div class='section_header'>
                    <b>INSTALLATION NOTES</b>
            </div>
            <table>
                    <tr>
                        <td>
                        <b>ESTIMATED INSTALLATION DURATION</b><br>
                        {{ form_data.8.estimated_duration }}
                        </td>    
                    </tr>
                    <tr>
                        <td>
                        <b>DESCRIPTION OF WORKS</b><br>
                        {{ form_data.8.description_of_works }}
                        </td>    
                    </tr>
            </table> 
            <hr class='hrItem' /> 
            <img src="{{frecords.3.document.url}}" >
            <br>                                  
            <div class='footer'>
                    t: 	{{ idx.telephone }} &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; w: www.demo.plumbing &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; e: {{ idx.email }}
            </div>
        </body>
</html>